.header-container {
  display: flex;
  border: 1px solid blue;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 20%;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted blue; */
  height: 100%;
  width: 35%;
}

.search-bar {
  outline: none;
  height: 50%;
  width: 90%;
}

.btn-search {
  cursor: pointer;
  display: inline-block;
  margin-left: -13%;
  background: transparent;
  border: none;
  height: 50%;
  width: 10%;
}
